.characterSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.characterSection img{
    height: 200px;
    transform: scale(1.2);
    transition: 0.5s;
    object-fit: cover;
    overflow: visible;
}
.characterSection img:hover{
    transform: scale(1.35);
}

.characterSection .charCard{
    background-color: transparent;
    backdrop-filter: blur(10px) ;
}