@import url("./variables.css");

.planetSection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.planetSection .planCard{
    background-color: aqua;
}

.planetSection .cardText{
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(1, 28, 82, 0.5);
    height: 30%;
    font-size: 0.8rem;
    overflow: auto;
    scrollbar-width: thin;
}

.planetSection img{
    max-width: 100%;
    height: 600px;
    width: 600px;
    object-fit: cover;
}