@font-face {
    font-family: dragonBall;
    src: url(../assets/saiyan_sans/Saiyan-Sans.ttf);
}
:root{
    --primary: #092968;
    --primary-light: #1C4595;
    --primary-dark: #011c52;
    --secondary: #e76a24;
    --secondary-dark: #b14608;
}